html, body {
  height:100%;
}

body {
  padding-top: 54px;
  overflow-x:hidden;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

#principal{
  margin-left: 240px;
  position: absolute;
  padding-top: 15px;
}
